.content-container {
  padding: 0 1.6rem;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.wc-logo {
  display: block;
  margin: 10.4rem 0 11.2rem 0
}
.link-container {
  display: flex;
  justify-content: center;
}
.login-link {
  font-size: 2rem;
  line-height: 2.4rem;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
}