.content-container {
  padding: 0 1.6rem;
  max-width: 600px;
  margin: 0 auto 6rem auto;
}
.heading1 {
  font-size: 5.6rem;
  line-height: 6.72rem;
  margin: 0 0 2.4rem 0;
}
.name {
  display: inline-block;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--black);
  background-color: var(--teal);
  border-radius: 4rem;
  padding: 0.6rem 1.6rem;
  margin: 6.4rem 0 0.4rem 0;
}